{% extends 'admin/master.html' %}

{% block body %}
    {{ super() }}
    <div class="container">
        <!-- Header with Device Hostname -->
        <div class="alert alert-info mt-3">
            <h4 class="alert-heading">Device Configuration</h4>
            <p class="mb-0">This is the {{ device.host }} configuration.</p>
        </div>

        <!-- Devices Table -->
        <div class="row">
            <div class="col-md-12 mt-3">
                <pre><code class="json">
{{configuration}}
                </code></pre>
            </div>
        </div>
        
            <div class="mt-3">
                <a href="{{ url_for('add-devices.index_view') }}" class="btn btn-secondary">Back to Add Devices</a>
            </div>
        </div>
    {% endblock %}
